<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Cobrança</title>
<link rel="stylesheet" type="text/css" href="/CSS/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/CSS/style.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<header layout:insert="Cabecalho"></header>

	<section layout:fragment="conteudo">
		<p>Conteúdo principal</p>
	</section>

	<script src="/JS/jquery-3.4.1.min.js"></script>
	<script src="/JS/bootstrap.min.js"></script>
	<script src="/JS/cobranca.js"></script>
</body>
</html>